body{
    background-color: beige;
    margin: auto;
    max-width: 550px;
    max-height: 550px;
    letter-spacing: 1px;
    text-indent: 1px;
    border: 2px darkred solid;
    border-width: 1000%;
    margin-top: 250px;
}

img{
    margin: auto;
    display: block;
}
